{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row d-flex justify-content-center" id="card-container">
            {% for item in items %}
                <div class="card shadow col-5 col-md-3 m-2" id="{{ item.id }}">
                    <img src="../uploads/{{ item.picture }}" class="card-img card-img-top mt-2" alt="photo de l'objet">
                    <div class="card-body">
                        <h3 class="card-title">{{ item.title }}</h3>
                        <p class="card-text">{{ item.description|u.truncate(50, '...') }}</p>
{#                        <a href="{{ path('app_item_show', {id:item.id}) }}" class="btn btn-primary">Plus de détails</a>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
