{% extends 'base.html.twig' %}

{% block title %}Hello ItemController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h1 class="text-center">Add new item</h1>
            <div class="col-6 d-flex flex-column align-items-center">
                {{ form_start(itemForm) }}
                {{ form_row(itemForm.title, {label: 'Title', attr : {class: 'mb-3 form-control'}}) }}
                {{ form_row(itemForm.description, {label: 'Description', attr : {class: 'mb-3 form-control'}}) }}
                {{ form_row(itemForm.zipcode, {label: 'Zip code', attr : {class: 'mb-3 form-control'}}) }}
                {{ form_row(itemForm.picture, {label: 'Picture', attr : {class: 'mb-3 form-control'}}) }}
                {{ form_widget(itemForm) }}
                <div class="w-100 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
                {{ form_end(itemForm) }}
            </div>
        </div>
    </div>
{% endblock %}
